# Ignorer le dossier Git et les fichiers de versioning
.git/
.gitignore

# Ignorer les fichiers Python temporaires
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer l’environnement virtuel (si jamais recréé)
venv/
ftline/

# Ignorer les fichiers générés
model.npy
data/data.normalized.csv

ft_linear_subject.pdf